@import "./fonts.css";

:root {
    --primary-font: "IRANSans";
    --primary-color: hsl(174, 60%, 37%); 
    /* --primary-color: #25966d; */

    --active-color:hsl(174, 60%, 37%);
    --second-color:#FFCF01;
    --bg-color:#f9f6f6a1;

    --login-color: #10738b;

    --white-color: #fff;
    --dark-color: #464749;
    --bs-gray-dark:#333;
    --bs-light:#fff;
    --swiper-navigation-size: 50px;
}

html {
    box-sizing: border-box;
  }
  *,
  *::after,
  *::before {
    outline: none;
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none !important;
    color: #fff;
    transition: all 400ms ease;
  }
  li{
      list-style: none !important;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* //////////////////////////TOP_ NAV  /////////////*/

.top-nav{
    width: 100%;
    height: 10vh;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav_left{
  width: 30%;
  height: 100%;
  font-size: 22px;
margin-left: 2rem;
  display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.top-nav_right{
  position: absolute;
    font-size: 22px;
    right:0%;
    top: 0;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}

.top-nav_left-list ul {
  list-style: none;
  color: black;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
}
.list-social_item{
  margin-right: 15px;
  font-size: 13px;
  color: var(--bg-light);
  background-color: var(--primary-color);
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition:all 0.2s ease;
}
.list-social_item:hover{
  opacity: 0.7;
  margin-bottom: 5px;
}

.list-social_item a {
  color: white;
}
.img{
  position: absolute;
  top: 5px;
  right: 25px;
  width: 5rem;
  height: 4.6rem;
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
  z-index: -1;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

 .navbar-left-list{
   position: absolute;
   right: 20%;
     width: 60%;
     height: 100%;
     font-size: 16px;
     font-weight: bold;
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

/* /////////////   NAVBAR /////////////// */


.navbar{
    /* width: 100%;
    height: 10vh;
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--primary-color); */
}
.navbar-main{
  margin-right: 2rem;
  font-size: 25px;
}
.down-nav{
  width: 100%;
  height: 8vh;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
  /* position: sticky; */
  z-index: 9999  !important;
  transition: all 0.4s ease;
}

.navbar-left{
  width:50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-right{
  width: 50;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-left-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  z-index: 999999;
}

.hide{
    right: -40%;
}



.down-nav.fixed{
    position: fixed;
    top: 0;
    transition: all 0.4s ease;
    z-index: 1;
    animation: headerfix 0.4s ease;
}

@keyframes headerfix{
    0%{
  opacity: 0;
  transform: translateY(-100%);
    }

    100%{
        opacity: 1;
        transform: translateY(0%);

    }
}
/* ////////// Start DropDown- nav-side Styles fore nav-side  ///////*/
.nav-side_main{
  direction: rtl;
}
.min-header__dropdown {
  direction: rtl;
  position: absolute;
  top: 120%;
  right: 60%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.366);
  border-radius: 0.5rem;
  width: 11rem;
  border-bottom: 3px solid #ccc;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999999;
}

.min-header__item{
  position: relative;
  transition: all 0.4s ease;
  padding: 5px;
}
.min-header__link{
  color: #fff;
  position: relative;
}

.min-header__item:hover:after{
width: 60px;
}
.min-header__item:after{
  content: "";
  width: 0px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.4s ease;
}

.min-header__item:hover  .min-header__dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.min-header__dropdown-item{
  color: #fff;
    /* transition: all 0.3s ease-in; */
    border-bottom: 1px solid rgb(15, 15, 15);
}
.min-header__dropdown-item a{
  font-size: 15px;
}
.min-header__dropdown-item:hover{
  background-color: var(--primary-color);

}

.min-header__dropdown-link {
  display: block;
  padding: 0.6rem 1.5rem;
  font-size: 10px;
  font-weight: 600;
  color: #000;
  /* transition: all 0.3ms ease-in; */
}

.min-header__dropdown-link:hover{
  background-color: var(--primary-color);
  color: #fff;

}

/* ///////////////////////  HEADER  //////////////////////// */


.header{
    width: 80%;
    height: 80vh;
    display: flex;
    margin: 0 auto;
    position: relative;
    background-color: var(--bg-color);
    justify-content: space-between;
    /* padding: 18rem; */
 padding-bottom: 3rem;
}
.hedear-title{
position: absolute;
right: -10%;
top: 5%;
font-size: 25px;
}

.hedear-title:after{
  content: "";
  width: 110px;
  height: 3px;
  border-radius: 3%;
  background-color:#a61c2c;
  position: absolute;
  top: 100%;
  right: 0%;
}


.side-header{
  width: 30%;
  height: 10rem;
  position: absolute;
  top: 8%;
  left: 1%;
  direction: rtl;
}

.side-box{
  width: 100%;
  height: 2.5rem;
  position: absolute;
  top: 23%;
  left: 5%;
  direction: rtl;
}
.opinion{
  color: #a61c2c;
  font-family: IRANSans;
}
.side-box ul li{
  background-color: #fff;
  box-shadow: 0 0 4px 0 #dcdcdc;
  border-radius: 10px;
padding: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

.side-box-text{
  margin: 10px;
  font-size:16px ;
  font-weight: 600;
  color: #4f4f4f;
  cursor: pointer;
  transition: all 0.5ms ease-in-out;
  text-decoration: none;
  padding: 10px 2px;
  width: 60%;
}
.side-box_date{
  font-size: 11px;
  margin-top: 15px;
  color: #a61c2c;
}
.Arshiv-opinion{
  width: 100px;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font: 12px;
  cursor: pointer;
  color: #a61c2c;

}
.side-box-text:hover{
  color: #a61c2c;
  font-weight: 900;
}
.main-header{
  width: 60%;
  height: 60vh;
  position: absolute;
  border: 1px solid #ccc;
  top: 10%;
  right: 5%;
}

  /* ////   swiper slide  ////// */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }

  .slider-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  .slider-img_about{
    width: 100%;
    height: 10vh;
    position: absolute;
    background-color: rgba(102, 102, 102, 0.756);
    bottom: 0;

  }
  .slider-img_about-text{
    font-size: 25px;
    color: #fff;
    font-weight: 800;
    position: absolute;
    right: 5%;
    top: 20%;
  }
/* //////////////////////// main   ///////////////////// */
  .main{
    width: 100%;
    height: max-content;
    direction: rtl;
    padding: 0 5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    /* background-color:  #fcfcfc; */
    background-image: url("../images/14.jfif");
    background-image: linear-gradient(rgba(238, 238, 240, 0.711), rgba(245, 245, 245, 0.777)),
                  url("../images/14.jfif");
  }

.main-title{
  font-size: 25px;
  width: 100%;
  position: relative;
}

.more-title{
 position: absolute;
 left: 10%;
 font-size: 20px;
 color: #a61c2c;
}

.main-title:after{
  content: "";
  width: 70px;
  height: 3px;
  border-radius: 3%;
  background-color:#a61c2c;
  position: absolute;
  top: 100%;
  right: 0%;
}
.all{
  cursor: pointer;
}
.container-box{
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .main-box{
    width: 280px;
    height: 400px;
    box-shadow: 0 0 4px 0 #afa9a9;
    border-radius: 3%;
    overflow: hidden;
    color: #000;
    position: relative;
    transition: all 0.4s ease;
    margin: 1rem;
    background-color: #fff;
  }
  .main-box:hover {
    transform: translateY(8px) ;
  }
 
.main-box-img{
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  cursor:pointer ;

}
.main-box-title{
 padding: 10px;
 font-size: 18px;

}

.main-box-text{
  padding: 10px;

}
.main-box-bottom{
   color: #a61c2c;
   position: absolute;
   left: 10px;
   bottom: 10px;
   cursor: pointer;
}

.min-header__link {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

.min-header__link-icon {
  margin-right: 1rem;
}



/* ////// gallery  ///// */
.gallery{
  width: 100%;
  height: 70vh;
  position: relative;
  width: 100%;
  /* height: max-content;
  padding:0 5rem;
  direction: rtl;
  padding: 5rem; */
  background-color: var(--bg-color);

}

.container-gallery{
  width: 100%;
  padding: 2rem 0;  
}
.gallery-title{
  /* padding-right: 25px; */
  font-size: 25px;
  width: 100%;
  position: relative;
  direction: rtl;
  padding: 0 5rem;

 }
 
 .gallery-title:after{
   content: "";
   width: 70px;
   height: 3px;
   border-radius: 3%;
   background-color:#a61c2c;
   position: absolute;
   top: 100%;
   right: 5%;
   /* padding-right: 25px; */

 }
.item{
  width: 250px;
  height: 250px;
}
 .item img{
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   object-fit: cover;
 }

/* Style  Footer */
.footer-container{
  direction: rtl;
  width: 100%;
  min-height: 50vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}
.footer-container_main{
  position: relative;
  direction: rtl;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  z-index: 1;
}
.right-list, .middle-list, .left-list{
  list-style: none;
  width: 25%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 6rem;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
  z-index: -1;
}

.right-list_item{
  margin-bottom: 22px;
  font-weight: 600;
  color: #fff;
}
.right-list_title{
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}

.footer-container_main:after{
  position: absolute;
  content: "";
  width: 85%;
  height: 1px;
  background-color: #fff;
  bottom: 10%;
}

.sub-footer{
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 8rem;
  padding-bottom: 2rem;
}

.sub-footer_list-social{
  list-style: none;
  display: flex;
}

.sub-footer_item:hover{
  transform: rotate(70deg);
  color: #fff;
}

.sub-footer_item{
  color: #fff;
  margin-left: 2rem;
  transition: all 0.2s ease;
}

.sub-footer_text{
  color: #fff;
  font-size: 14px;
}
